@font-face {
  font-family: Montserrat;
  font-weight: 400;
  font-style: normal;
  src: local("Montserrat"),
    url("../fonts/Montserrat-Regular.woff2") format('woff2'),
    url("../fonts/Montserrat-Regular.woff") format('woff'),
    url("../fonts/Montserrat-Regular.eot") format('eot');
  font-display: swap;
}

@font-face {
  font-family: Montserrat;
  font-weight: 500;
  font-style: normal;
  src: local("Montserrat"),
    url("../fonts/Montserrat-Medium.woff2") format('woff2'),
    url("../fonts/Montserrat-Medium.woff") format('woff'),
    url("../fonts/Montserrat-Medium.eot") format('eot');
  font-display: swap;
}

@font-face {
  font-family: Montserrat;
  font-weight: 600;
  font-style: normal;
  src: local("Montserrat"),
    url("../fonts/Montserrat-SemiBold.woff2") format('woff2'),
    url("../fonts/Montserrat-SemiBold.woff") format('woff'),
    url("../fonts/Montserrat-SemiBold.eot") format('eot');
  font-display: swap;
}

@font-face {
  font-family: Montserrat;
  font-weight: 700;
  font-style: normal;
  src: local("Montserrat"),
    url("../fonts/Montserrat-Bold.woff2") format('woff2'),
    url("../fonts/Montserrat-Bold.woff") format('woff'),
    url("../fonts/Montserrat-Bold.eot") format('eot');
  font-display: swap;
}

@font-face {
  font-family: 'TT Norms';
  font-weight: 700;
  font-style: normal;
  src: local("TT Norms"),
    url("../fonts/TTNorms-Bold.woff2") format('woff2'),
    url("../fonts/TTNorms-Bold.woff") format('woff'),
    url("../fonts/TTNorms-Bold.eot") format('eot');
  font-display: swap;
}

@font-face {
  font-family: 'TT Norms';
  font-weight: 800;
  font-style: normal;
  src: local("TT Norms"),
    url("../fonts/TTNorms-ExtraBold.woff2") format('woff2'),
    url("../fonts/TTNorms-ExtraBold.woff") format('woff'),
    url("../fonts/TTNorms-ExtraBold.eot") format('eot');
  font-display: swap;
}

@font-face {
  font-family: 'TT Norms';
  font-weight: 500;
  font-style: normal;
  src: local("TT Norms"),
    url("../fonts/TTNorms-Medium.woff2") format('woff2'),
    url("../fonts/TTNorms-Medium.woff") format('woff'),
    url("../fonts/TTNorms-Medium.eot") format('eot');
  font-display: swap;
}

@font-face {
  font-family: 'TT Norms';
  font-weight: 400;
  font-style: normal;
  src: local("TT Norms"),
    url("../fonts/TTNorms-Regular.woff2") format('woff2'),
    url("../fonts/TTNorms-Regular.woff") format('woff'),
    url("../fonts/TTNorms-Regular.eot") format('eot');
  font-display: swap;
}