html, body {
  font-family: 'TT Norms', sans-serif;
  color: #000;
}

.wrapper {
  min-height: 100%;
  width: 100%;
  overflow: hidden;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
  height: 100%;
}

.header{
  background-color: #A95094;
  color: #FFF;
  padding: 29px 0 25px 0;
}

.main__hero{
  padding: 250px 0 102px 0;
  background-color: #A95094;
  color: #FFF;
  background-image: url("../images/hero-section/repairman.png"), url(../images/hero-section/stiralka.png), url(../images/hero-section/fon.svg);
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: 22vw bottom, 18vw 85%, 25vw bottom;
}

.main__advant{
  padding: 116px 0 87px 0;
}
.main__problem{
  background: url("../images/problem/square-star.svg") no-repeat 65vw 78%, url("../images/problem/stiralka.png") no-repeat 65vw 78%, url("../images/problem/fon-left.svg") no-repeat 75vw 78%, linear-gradient(0deg, #FAFAFA 0%, #FAFAFA 100%), #FAE6F5;
  padding: 115px 0 155px 0;
}
.main__price{
  padding: 100px 0;
}

.main__team{
  background: linear-gradient(0deg, #FAFAFA 0%, #FAFAFA 100%), #FAE6F5;
  padding: 100px 0 165px 0;
}

.main__reviews{
  padding: 100px 0 160px 0;
}

.main__evaluat{
  padding: 50px 0;
  background: linear-gradient(0deg, #FAFAFA 0%, #FAFAFA 100%), #FAE6F5;
}

.main__questions{
  padding: 100px 0;
}

.main__call{
  padding: 100px 0;
  background: url('../images/call/fon.svg') no-repeat 100% 100%;
  background-size: cover;
}

.main__info{
  padding: 100px 0;
}

.footer__bottom{
  padding: 35px 0;
  margin: 0 51px;
  background: #FAFAFA;
}

.footer__entity{
  padding: 50px 0 30px 0;
}
