@mixin btn($padding: 18px 40px, $width: 162px, $height: 55px) {
  width: $width;
  height: $height;
  padding: $padding;
}

%btn {
  display: inline-block;
  white-space: nowrap;
  border-radius: 15px;
  font-weight: 500;
  text-align: center;
}

%title {
  font-size: 45px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: -0.675px;
}

%title-2 {
  font-size: 40px;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: -0.6px;
}

%pos {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}